 <%= form_with(model: @article, local: true) do |form| %>

 <div class="field">
     <%=form.label :title %>
     <%=form.text_field :title %>
 </div>
 <div>
    <div class="mb-3">
     <%=form.label :category_elements %>
     </div>
  <div class="d-flex flex-row">
      <%@categories.each do |category|%>
      <div class="form-check me-3">
      <%= form.check_box :category_elements, {multiple: true, class: "form-check-input"}, category.id, nil %>  
      <label class="form-check-label field" for="flexCheckDefault"> 
       <%= category.title%> 
      </label>
      </div>
    <%end%>
   </div>
 </div>

 <div class="field">
     <%=form.label :content %>
     <%=form.rich_text_area :content %>
 </div>

 <div>
   <%= form.submit %> 
 </div>


 <%end%> 