<div class="small-container center-block padding">
<h2>Iniciar sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "Contraseña" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div>
    <div class="check-box">
      <%= f.check_box :remember_me %>
      </div>
      <%= f.label :remember_me, "Recordar sesión" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Ingresar", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>